---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Audits">
  <main class="container mx-auto py-8 px-4">
    <div class="max-w-4xl mx-auto">
      <h1 class="text-3xl font-bold mb-8">Audits</h1>
      <p>List of audits will be implemented here</p>
    </div>
  </main>
</Layout> 