---
import "../styles/global.css";
import { TopBar } from "@/components/TopBar";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title?: string;
  isLoginPage?: boolean;
}

const { title = "ITAuditor", isLoginPage = false } = Astro.props;
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <TopBar client:load isLoginPage={isLoginPage} />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
